  /* So the "fixed" Navbar does not overlap with the "showcase img" */
body::before { 
    display: block;
    content: ''; /* have nothing to add here */
    height: 60px; /* this will add space under the static/fixed menu */
  }
  
  /*This is so the map (from Mapbox) displays correctly.*/
  #map {
    width: 100%;
    height: 100%;
    border-radius: 10px;
  }
  
  /* Applies 'media query' to medium sized screens and larger (at or above 768px). using default on medium and smaller screens. This will narrow the width of the button on medium and larger screens. */
  @media (min-width: 768px) {
    .news-input {
      width: 50%;
    }
  }